<a href="https://colab.research.google.com/github/gusanans218/Python/blob/master/20201215.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름 : %s 나이 : %d" %(name1, age1))
print("이름 : %s 나이 : %d" %(name2, age2))

In [ ]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
print(movie_rank)

In [ ]:
movie_rank = ["닥터 스트레인지","슈퍼맨", "스플릿", "럭키","배트맨"]
del movie_rank[3]
print(movie_rank)

In [ ]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go","C#"]
langs = lang1 + lang2
print(langs)

In [ ]:
nums = [1,2,3,4,5,6,7]
print("max :", max(nums))
print("min :", min(nums))

In [ ]:
nums = [1,2,3,4,5]
print(sum(nums))

In [ ]:
nums = [1,2,3,4,50]
average = sum(nums)/len(nums)
print(average)

In [ ]:
price = ['20180728', 100,130,140,150,160,170]
print(price[1:])

In [ ]:
nums = [1,2,3,4,5,6,7,8,9,10]
print(nums[::2])

In [ ]:
nums = [1,2,3,4,5,6,7,8,9,10]
print(nums[1::2])

In [ ]:
nums = [1,2,3,4,5]
print(nums[::-1])

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver','SK하이닉스', '미래에셋대우']
print(" ".join(interest))

In [ ]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

In [ ]:
temp = ('apple','banana','cake')
a,b,c = temp
print(a,b,c)