<a href="https://colab.research.google.com/github/gusanans218/Python/blob/master/20201214.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('신씨가 소리질렀다 "도둑이야"')

In [ ]:
a,b = input().split()
print(int(a)+int(b))

In [ ]:
print("당신이 태어난 연도를 입력하세요")
birth_year = input();
age = 2020 - int(birth_year)+1

if age <= 26 and age >= 20:
    print("대학생")
elif age < 20 and age >= 17:
    print("고등학생")
elif age < 17 and age >= 14:
    print("중학생")
elif age < 14 and age >= 8:
    print("초등학생")
else:
    print("학생이 아닙니다")

#학생인지 맞추기

In [ ]:
for i in range(1,10):
    for j in range(2,6):
        print(str(j)+"x"+str(i)+"="+str(i*j)+" ",end='\t')
        print()
print()
for i in range(1,10):
    for j in range(6,10):
        print("%3d x %3d = %3d" %(i,j,i*j), end='\t')
    print()

#구구단

In [ ]:
print("8진수")
decimal = int(input())
result =''
while (decimal > 0):
    remainder = decimal % 8
    decimal = decimal // 8
    result = str(remainder)+result
print(result)

#10진수 -> 8진수

In [ ]:
print("16진수")
decimal = int(input())
result1 = ''
list = ['A','B','C','D','E','F']

while(decimal>0):
    remainder = decimal % 16
    decimal = decimal//16
    if remainder <= 9:
        result1 = str(remainder)+result1
    else:
         result1 = list[remainder -10]+result1

    print(result1)

#10진수 -> 16진수

In [ ]:
kor_score = [49,80,20,100,80]
math_score = [43,60,85,30,90]
eng_score = [49,82,48,50,100]

midterm_score =[kor_score,math_score,eng_score]

for subject in midterm_score:
    max = 0;
    sum = 0;
    for i in subject:
        if max < i:
            max = i;

            sum +=i;
        print(max, sum)
        print()


#과목별 합계, 최댓값

In [ ]:
amount, currency = input("입력: ").split()
if currency == "달러: ":
    ratio = 1167
elif currency == "엔":
    ratio = 1.096
elif currency == "유로":
    ratio = 1268
else:
    ratio = 171
print(ratio * int(amount),"원")

#원화변환

In [ ]:
num1 = int(input("num1 :"))
num2 = int(input("num2 :"))
num3 = int(input("num3 :"))

if num1>num2:
    max_num = num1
else:
    max_num = num2
if num3> max_num:
    max_num = num3
print(max_num)

#최댓값 구하기

In [ ]:
#우편번호

zipcode = input("우편번호")

if zipcode[2] in '012':
    print("강북구")
elif zipcode[2] in '345':
    print("도봉구")
else:
    print("노원구")

In [ ]:
#글자 거꾸로 출력
menu = ["면라", "밥김", "김튀"]
for food in menu:
    print(food[::-1])

In [ ]:
#대문자만 출력
list = ["A","b", "c","D"]
for word in list:
    if word.isupper():
        print(word)

In [ ]:
#파일이름만 출력
list = ['hello.py','ch02.py','intro.hwp']
for file in list:
    tmp = file.split('.')
    print(tmp[0])

list = ['intra.h','define.c','run.py']
for file in list:
    if file.endswith("h"):
        print(file)

In [ ]:
list=[3,4,4,5,6,6]
result = []
for val in list:
    if val not in result:
        result.append(val)
#중복제거

In [ ]:
num_str="720"
num_int = int(num_str)
print(num_int+1, type(num_int))